{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block header %}Welcome Back{% endblock %}
{% block subheader %}Login with your phone number{% endblock %}
{% block content %}
<form method="POST">
    <div class="form-group">
        <label>Phone Number *</label>
        <input type="tel" name="phone_number" placeholder="+919876543210" required>
    </div>
    
    <button type="submit" class="btn">Send OTP</button>
    
    <div class="links">
        Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a>
    </div>
</form>
{% endblock %}
